.my__button {
  border: none;
  text-align: center;
  padding: 10px 20px;

  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

.round {
  border-radius: 50px;
}

.square {
  border-radius: 8px;
}